header.header
    .container
        .header-top
            .logo
                img(src="static/images/common/logo.png" alt="Heatinvest")
            .user-info
                p.location Москва
                p.manager manager22@heatinvest.com
                a(href="tel:84997059196").phone 8 (499) 705-91-96
                a(href="tel:88005557583").phone.phone-free 8 (800) 555-75-83
        .header-middle
            button.catalog-btn Католог товаров
            form.search-form
                input(name="search" placeholder="Поиск по товарам").search-form__field
                button(type="submit").search-form__btn
            button.cart
                span.count-icon 5
        .header-bottom
            ul.main-nav
                li
                    a(href="#") Главная
                li
                    a(href="#") Расчёт стоимости
                li
                    a(href="#") Подбор
                li
                    a(href="#") Новости
                li
                    a(href="#") О компании
                li
                    a(href="#") Контакты
            a(href="#").offer Запрос коммерческого предложения

