section#offer.popup__content.zoom-anim-dialog.mfp-hide
    p.popup__title Запрос коммерческого предложения
    p.popup__descr Для запроса коммерческого предложения, по стоимости, наличию, сроках поставки, заполните ниже поля
    form.popup__form
        input(name="name" placeholder="Имя")
        input(name="company" placeholder="Название компании")
        input(name="mail" placeholder="Email")
        input(name="phone" placeholder="Телефон")
        input(name="file" placeholder="Прикрепить файл")
        input(name="text" placeholder="Комментарий")
        button(type="submit").btn Отправить
    p.popup__config Нажимая кнопку, вы принимаете условия пользовательского соглашения и даете согласие на обработку персональных данных

section#corp-offer.popup__content.zoom-anim-dialog.mfp-hide
    p.popup__title Если вы являетесь оптовым покупателем, юридическим лицом
    p.popup__descr Оставьте заявку на индивидуальные условия и запрос коммерческого предложения, по некоторым позициям скидки до 70%
    form.popup__form
        input(name="name" placeholder="Имя")
        input(name="company" placeholder="Название компании")
        input(name="mail" placeholder="Email")
        input(name="phone" placeholder="Телефон")
        input(name="file" placeholder="Прикрепить файл")
        input(name="text" placeholder="Комментарий")
        button(type="submit").btn Отправить
    p.popup__config Нажимая кнопку, вы принимаете условия пользовательского соглашения и даете согласие на обработку персональных данных

section#callback.popup__content.zoom-anim-dialog.mfp-hide
    p.popup__title Оставьте заявку
    p.popup__descr Отправьте свои контактные данные и наш специалист свяжется с Вами в ближайшее время
    form.popup__form
        input(name="name" placeholder="Имя")
        input(name="phone" placeholder="Телефон")
        input(name="mail" placeholder="Email")
        button(type="submit").btn Отправить
    p.popup__config Нажимая кнопку, вы принимаете условия пользовательского соглашения и даете согласие на обработку персональных данных