.pagination
    //a.prev.page-numbers(href='javascript:;') prev
    span.page-numbers.current(aria-current='page') 1
    a.page-numbers(href='javascript:;') 2
    a.page-numbers(href='javascript:;') 3
    a.page-numbers(href='javascript:;') 4
    a.page-numbers(href='javascript:;') 5
    a.page-numbers(href='javascript:;') 6
    a.page-numbers(href='javascript:;') 7
    a.page-numbers(href='javascript:;') 8
    a.page-numbers(href='javascript:;') 9
    a.page-numbers(href='javascript:;') 10
    //a.next.page-numbers(href='javascript:;') next

