.pagination-wrapper
  .pagination
    //a.prev.page-numbers(href='javascript:;') prev
    span.page-numbers.current(aria-current='page') 1
    a.page-numbers(href='javascript:;') 2
    a.page-numbers(href='javascript:;') 3
    a.page-numbers(href='javascript:;') 4
    a.page-numbers(href='javascript:;') 5
    a.page-numbers(href='javascript:;') 6
    a.page-numbers(href='javascript:;') 7
    a.page-numbers(href='javascript:;') 8
    a.page-numbers(href='javascript:;') 9
    a.page-numbers(href='javascript:;') 10
    //a.next.page-numbers(href='javascript:;') next
  .select
    .select__header
      span.select__current 40
      img(src="static/images/common/akordeon-arrow.png" alt="#")
    .select__body
      .select__item 20
      .select__item 30
      .select__item 40
