sidebar.sidebar
    .sidebar-item
        h3.sidebar-item__name Производители
        .sidebar-item__block
            span.sidebar-item__block-name Ридан
            a(href="#").sidebar-item__block-img
                img(src="static/images/content/partners/ridan.png" alt="ridan")
        .sidebar-item__block
            span.sidebar-item__block-name Danfoss
            a(href="#").sidebar-item__block-img
                img(src="static/images/content/partners/danfos.png" alt="danfos")
        .sidebar-item__block
            span.sidebar-item__block-name Alfa Laval
            a(href="#").sidebar-item__block-img
                img(src="static/images/content/partners/AlfaLaval.png" alt="Alfa Laval")
        .sidebar-item__block
            a(href="#").sidebar-item__block-link Показать ещё
    .sidebar-item
        h3.sidebar-item__name Серии
        .sidebar-item__series
            a(href="#").sidebar-item__series-link hh 19
            a(href="#").sidebar-item__series-link hh 100
            a(href="#").sidebar-item__series-link hh 19
            a(href="#").sidebar-item__series-link hh 100
            a(href="#").sidebar-item__series-link hh 100
            a(href="#").sidebar-item__series-link hh 100
            a(href="#").sidebar-item__series-link hh 19
            a(href="#").sidebar-item__series-link hh 100
            a(href="#").sidebar-item__series-link hh 19
        .sidebar-item__block
            a(href="#").sidebar-item__block-link Показать ещё
    .sidebar-item
        h3.sidebar-item__name Фильтр
        .sidebar-item__block
            span.sidebar-item__block-name Производитель
            img(src="static/images/common/akordeon-arrow.png" alt="#")
        .sidebar-item__block
            span.sidebar-item__block-name Страна
            img(src="static/images/common/akordeon-arrow.png" alt="#")
        .sidebar-item__block
            span.sidebar-item__block-name Количество пластин
            img(src="static/images/common/akordeon-arrow.png" alt="#")
        .sidebar-item__block
            button.btn.apply Применить
            button.btn.reset Сбросить
    .sidebar-item
        h3.sidebar-item__name Полезные статьи
        .sidebar-item__block
            a(href="#").sidebar-item__block-name Для чего нужен теплообменник в системе отопления?
        .sidebar-item__block
            a(href="#").sidebar-item__block-name Пластинчатые теплообменники в пивоварении
        .sidebar-item__block
            a(href="#").sidebar-item__block-name Конденсатные насосы: устройство, принцип работы и сферы применения
        .sidebar-item__block
            a(href="#").sidebar-item__block-link Показать ещё