section#city.city-block.zoom-anim-dialog.mfp-hide
    p.city-block__title Выберите свой город
    form.city-block__form
        input(name="search-city" placeholder="Поиск по товарам").city-block__field
    .city-block__list
        ul
            li
               a(href="#") Санкт-Петербург
            li
               a(href="#") Москва
            li
               a(href="#") Великий Новгород
            li
               a(href="#") Новосибирск
            li
               a(href="#") Екатеринбург
            li
               a(href="#") Волгоград
        ul
            li
               a(href="#") Нижний Новгород
            li
               a(href="#") Казань
            li
               a(href="#") Челябинск
            li
               a(href="#") Омск
            li
               a(href="#") Самара
            li
               a(href="#") Краснодар
        ul
            li
               a(href="#") Ростов-на-Дону
            li
               a(href="#") Уфа
            li
               a(href="#") Красноярск
            li
               a(href="#") Пермь
            li
               a(href="#") Воронеж
    a(href="#").section-link.show-city Показать все города
    a(href="#").section-link.hide-city Скрыть все города
    .city-block__list.cities
        ul
            li.cities-letter А
            li
                a(href="#") Абакан
            li
                a(href="#") Азнакаево
            li
                a(href="#") Азов
            li
                a(href="#") Алатырь
            li
                a(href="#") Александров
            li
                a(href="#") Алексеевка
            li.cities-letter Б
            li
                a(href="#") Балаково
            li
                a(href="#") Балахна
            li
                a(href="#") Балашиха
            li
                a(href="#") Балашов
            li.cities-letter В
            li
                a(href="#") Волгоград
            li
                a(href="#") Волгодонск
            li
                a(href="#") Волжск
            li
                a(href="#") Волжский
            li
                a(href="#") Вологда
            li.cities-letter Г
            li
                a(href="#") Гатчина
            li
                a(href="#") Геленджик
            li
                a(href="#") Георгиевск
            li
                a(href="#") Глазов
            li.cities-letter Д
            li
                a(href="#") Димитровград
            li
                a(href="#") Дмитров
            li
                a(href="#") Добрянка
            li.cities-letter Е
            li
                a(href="#") Егорьевск
            li
                a(href="#") Ейск
            li.cities-letter Ж
            li
                a(href="#") Жигулевск
            li
                a(href="#") Жирновск
            li
                a(href="#") Жуковский
        ul
            li.cities-letter З
            li
                a(href="#") Заволжье
            li
                a(href="#") Заинск
            li.cities-letter И
            li
                a(href="#") Ибреси
            li
                a(href="#") Иваново
            li
                a(href="#") Ивантеевка
            li
                a(href="#") Ижевск
            li.cities-letter Й
            li
                a(href="#") Йошкар-Ола
            li.cities-letter К
            li
                a(href="#") Казань
            li
                a(href="#") Калач-на-Дону
            li
                a(href="#") Калуга
            li
                a(href="#") Каменка
            li
                a(href="#") Каменск-Уральский
            li
                a(href="#") Каменск-Шахтинский
            li
                a(href="#") Камышин
            li
                a(href="#") Канаш
            li
                a(href="#") Каневская
            li
                a(href="#") Канск
            li
                a(href="#") Карталы
            li
                a(href="#") Кашира
            li
                a(href="#") Кемерово
            li
                a(href="#") Кингисепп
            li.cities-letter Л
            li
                a(href="#") Лазаревское
            li
                a(href="#") Лениногорск
            li
                a(href="#") Липецк
            li
                a(href="#") Лиски
            li.cities-letter М
            li
                a(href="#") Магнитогорск
            li
                a(href="#") Майкоп
            li
                a(href="#") Маркс
        ul
            li.cities-letter Н
            li
                a(href="#") Набережные Челны
            li
                a(href="#") Навашино
            li
                a(href="#") Нальчик
            li.cities-letter О
            li
                a(href="#") Орехово-Зуево
            li
                a(href="#") Орловский
            li
                a(href="#") Орёл
            li
                a(href="#") Острогожск
            li
                a(href="#") Отрадный
            li.cities-letter П
            li
                a(href="#") Павловская
            li
                a(href="#") Павловский Посад
            li
                a(href="#") Палласовка
            li
                a(href="#") Пенза
            li.cities-letter Р
            li
                a(href="#") Раменское
            li
                a(href="#") Рассказово
            li
                a(href="#") Реутов
            li.cities-letter С
            li
                a(href="#") Светлоград
            li
                a(href="#") Семикаракорск
            li
                a(href="#") Сергиев Посад
            li
                a(href="#") Сердобск
            li
                a(href="#") Серов
            li
                a(href="#") Серпухов
            li
                a(href="#") Скопин
            li.cities-letter Т
            li
                a(href="#") Таганрог
            li
                a(href="#") Тамбов
            li
                a(href="#") Тверь
            li
                a(href="#") Тейково
            li
                a(href="#") Темрюк
            li
                a(href="#") Тимашевск
