extends layout/main

block variables
    -var title = 'Доставка'

block content
    section.delivery.section-margin
        .container
            h2.section-title Доставка
            ul.breadcrumbs
                include modules/breadcrumbs/breadcrumbs
                +breadcrumbs-item('Главная','index.html')
                +breadcrumbs-item('Доставка')
            .delivery-content
                p В настоящее время на российском рынке насчитывается больше 38 000 транспортных компаний. Осознавая все сложности, которые могут возникнуть при доставке груза, нами было принято принципиальное решение — доставка оборудования для клиента должна обходиться максимально легко и прозрачно. За более чем 5-летний период работы, мы осуществили более 2000 поставок инженерного оборудования по России и странам ближнего зарубежья. Этот опыт позволяет нам осуществлять доставку Вашего оборудования на самых выгодных условиях. Мы работаем с следующими транспортными компаниями:
                ul.delivery-list
                    li DPD (АО «Армадилло Бизнес Посылка»)
                    li ООО «Деловые линии»
                    li ООО «ПЭК»
                    li ООО «Азимут»
                    li ООО «РАТЭК»
                    li ООО «АвтоКотракт»
                p Оборудование будет доставлено до терминала транспортной компании в Вашем городе. Весь процесс поставки ежедневно мониторится нашими логистами. Кроме этого для Вашего удобства реализована система автоматических уведомлений о статусе груза. Мы гарантируем — Ваш груз будет доставлен точно по месту, вовремя, в целости и сохранности.
    section.section-form.section-form-white.section-margin
        .container
            .section-form__content
                h3.section-form__title Есть вопросы по доставке?
                p.section-form__descr Оставьте заявку и наш специалист свяжется с вами в ближайшее время
                form.section-form__form
                    input(name="name" type="text" placeholder="Ваше имя")
                    input(name="phone" type="phone" placeholder="Ваш телефон")
                    input(name="mail" type="mail" placeholder="Ваш E-mail")
                    button(type="submit").btn Отправить