extends layout/main

block variables
    -var title = 'Главная страница'

block content
    section.head.section-margin
        .container
            .head-content
                .head-content__descr
                    h1.section-title Теплообменное оборудование от производителя
                    ul.advantage-list
                        li Поставки со склада производителя
                        li Расширенная гарантия до 5 лет
                        li Консультация инженеров по подбору
                        li Гибкие условия с отсрочкой платежа
                        li Бесплатная доставка по России
                    .buttons
                        a(href="#").btn Расчёт стоимости
                        a(href="#").btn.btn-gray Консультация
                .head-content__img
                    img(src="static/images/content/head-pto2.png" alt="")
            .partners-items
                a(href="#").partners-item
                    img(src="static/images/content/partners/ridan.png" alt="ridan")
                a(href="#").partners-item
                    img(src="static/images/content/partners/danfos.png" alt="danfos")
                a(href="#").partners-item
                    img(src="static/images/content/partners/phoenix.png" alt="phoenix")
                a(href="#").partners-item
                    img(src="static/images/content/partners/AlfaLaval.png" alt="Alfa Laval")
                a(href="#").partners-item
                    img(src="static/images/content/partners/kaori.png" alt="kaori")
                a(href="#").partners-item
                    img(src="static/images/content/partners/sondex.png" alt="sondex")
    section.catalog.section-margin
        .container
            h2.section-title Каталог
            a(href="#").section-link Посмотреть весь каталог
            .section-items
                .catalog-item
                    a(href="pto.html").catalog-item__name Пластинчатые теплообменники
                    img(src="static/images/content/catalog/catalog-img-1.png" alt="Пластинчатые теплообменники").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item.catalog-item__mobile
                    a(href="#").catalog-item__name Паяные теплообменники
                    img(src="static/images/content/catalog/catalog-img-2.png" alt="Паяные теплообменники").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item
                    a(href="#").catalog-item__name Кожухотрубные теплообменники
                    img(src="static/images/content/catalog/catalog-img-3.png" alt="Кожухотрубные теплообменники").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item.catalog-item__mobile
                    a(href="#").catalog-item__name Сварные теплообменники
                    img(src="static/images/content/catalog/catalog-img-4.png" alt="Сварные теплообменники").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item
                    a(href="#").catalog-item__name Полусварные теплообменники
                    img(src="static/images/content/catalog/catalog-img-5.png" alt="Полусварные теплообменники").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item.catalog-item__mobile
                    a(href="#").catalog-item__name Спиральные теплообменники
                    img(src="static/images/content/catalog/catalog-img-6.png" alt="Спиральные теплообменники").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item
                    a(href="#").catalog-item__name Пластины для теплообменников
                    img(src="static/images/content/catalog/catalog-img-7.png" alt="Пластины для теплообменников").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
                .catalog-item.catalog-item__mobile
                    a(href="#").catalog-item__name Уплотнения для теплообменников
                    img(src="static/images/content/catalog/catalog-img-8.png" alt="Уплотнения для теплообменников").catalog-item__img
                    a(href="#").catalog-item__link Перейти в каталог
    section.product.section-margin
        .container
            h2.section-title Товары
            a(href="#").section-link Посмотреть все товары
            .section-items
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
                .product-item
                    .product-item__img
                        img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                    a(href="one-product.html").product-item__name Пластина для теплообменника hh 320-203
                    .product-item__char
                        span.product-item__char-info Ду, мм:
                            span.product-item__char-du 50
                        span.product-item__char-info Макс. P, бар:
                            span.product-item__char-press 25
                        span.product-item__char-info Присоединение:
                            span.product-item__char-connect Фланцевое
                        span.product-item__char-info Назначение:
                            span.product-item__char-use Нагрев-подогрев воды
                    p.product-item__price 19 497
                    .product-item__action
                        button.btn Добавить в корзину
    section.section-form.section-margin
        .container
            .section-form__content
                h3.section-form__title Рассчитайте стоимость теплообменника
                p.section-form__descr Оставьте заявку и наш специалист свяжется с вами в ближайшее время
                form.section-form__form
                    input(name="name" type="text" placeholder="Ваше имя")
                    input(name="phone" type="phone" placeholder="Ваш телефон")
                    input(name="mail" type="mail" placeholder="Ваш E-mail")
                    button(type="submit").btn Рассчитать стоимость
    section.manufacturers.section-margin
        .container
            h2.section-title Производители
            a(href="#").section-link Посмотреть всех производителей
            .section-items
                .partners-items
                    a(href="#").partners-item
                        img(src="static/images/content/partners/ridan.png" alt="ridan")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/danfos.png" alt="danfos")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/phoenix.png" alt="phoenix")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/AlfaLaval.png" alt="Alfa Laval")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/kaori.png" alt="kaori")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/sondex.png" alt="sondex")
                .partners-items
                    a(href="#").partners-item
                        img(src="static/images/content/partners/astra.png" alt="astra")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/mash-group.png" alt="mash group")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/kelvion.png" alt="kelvion")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/thermowave.png" alt="thermowave")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/funke-rus.png" alt="funke rus")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/secespol.png" alt="secespol")
                .partners-items
                    a(href="#").partners-item
                        img(src="static/images/content/partners/teplosila.png" alt="Теплосила")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/tetra-pak.png" alt="tetra pak")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/ares.png" alt="ares")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/sigma.png" alt="sigma")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/zavod-energo.png" alt="Завод энергетического оборудования")
                    a(href="#").partners-item
                        img(src="static/images/content/partners/tranter.png" alt="tranter")

    include modules/popup/offer-popup
    include modules/components/city-block



