extends layout/main

block variables
    -var title = 'Пластинчатые теплообменники в пивоварении'

block content
    section.one-news.section-margin-small
        .container
            h2.section-title Новости
            ul.breadcrumbs
                include modules/breadcrumbs/breadcrumbs
                +breadcrumbs-item('Главная','index.html')
                +breadcrumbs-item('Новости','news.html')
                +breadcrumbs-item('Пластинчатые теплообменники в пивоварении')
            .news-item
                .news-item__info
                    a(href="one-news.html").news-item__name Пластинчатые теплообменники в пивоварении
                    span.news-item__date 11.08.2021
                .news-item__img
                    img(src="static/images/content/one-news-img-1.png" alt="Пластинчатые теплообменники в пивоварении")
                .news-item__text
                    p.news-item__descr Использование теплообменников в пивоварении позволяет сократить энергозатраты и обеспечивает повышение эффективности производства за счет высочайшего процента рекуперации. Теплообменники используются для охлаждения сусла в процессе приготовления пива и при пастеризации напитка. Пластинчатый прибор способен быстро охлаждать значительные объемы жидкости. Максимальная пропускная способность теплообменного аппарата практически не ограничена ...
                    p.news-item__title Принцип действия
                    p.news-item__descr Теплообменник имеет два входных и два выходных отверстия, к которым подсоединяются шланги. По одному из шлангов внутрь подается горячая жидкость — сусло, по другому — холодная или ледяная вода. В охлаждающем контуре может использоваться также гликоль или соляной раствор. Для подачи воды внутрь конструкции, как правило, используется насос.
                    p.news-item__descr Процесс теплообмена происходит по принципу противотока. Элементы с горячей и холодной средой в составе аппарата чередуются. Благодаря этому, проходя через каналы, среды с разной температурой обмениваются тепловой энергией.
                    p.news-item__title Как используется теплообменник в пивоварении
                    p.news-item__descr Теплообменники в пивоварении применяются для следующих задач:
                    .text-list
                        li нагревание сусла;
                        li поверхностное кипячение;
                        li охлаждение пивного сусла;
                        li конденсация паров;
                        li охлаждение пива;
                        li пастеризация.
                    p.news-item__descr В процессе создания хмельного напитка пивное сусло нагревается до высокой температуры. При этом воду нагревают паром или, в целях энергосбережения, более горячей водой, так как в процессе производства пива остаётся большое количество горячей воды, которую нельзя сбрасывать в канализацию из-за её высокой температуры. Нагрев/рекуперация происходит в теплообменных аппаратах.
                    p.news-item__descr Перед внесением дрожжей, запускающих брожение, сусло обязательно охлаждается. Дрожжи, представляющие собой одноклеточные грибы, живут и активно работают в теплой среде при температуре воды от 5 до 25С. Быстрое охлаждение сырья при помощи теплообменников позволяет избежать развития вредных микроорганизмов.
                    p.news-item__descr Для увеличения сроков хранения пиво пастеризуют — выдерживают при высокой температуре определённое время, а затем охлаждают и отправляют на розлив. Пастеризация пива обычно происходит в 3-ступенчатом теплообменнике.
                    p.news-item__title Особенности конструкции
                    p.news-item__descr Используются два типа аппаратов:
                    .text-list
                        li паяные теплообменники для домашнего использования или небольших пивоварен
                        li разборные аппараты для более крупных пивоваренных предприятий
                    p.news-item__descr Разборный теплообменный аппарат представляет собой стальную конструкцию на опорной стойке, состоящую из верхних и нижних направляющих с закрепленными на них пластинами из нержавеющей стали. Они фиксируются с двух сторон прижимными плитами. Пластинчатые устройства имеют более низкие эксплуатационные затраты в сравнении с теплообменными аппаратами классического типа «труба в трубе».
                    p.news-item__descr Применение пластинчатых теплообменников обеспечивает непрерывность и высокую производительность процесса пивоварения. Рекуперация тепла до 90% позволяет существенно экономить энергоресурсы.
            .all-news
                p.news-item__title Другие новости:
                .news-items
                    .news-item
                        .news-item__img
                            img(src="static/images/content/news-img-2.png" alt="Пластинчатые теплообменники в пивоварении")
                        .news-item__info
                            .news-item__date 04.08.2021
                            a(href="one-news.html").news-item__name Конденсатные насосы: устройство, принцип работы и сферы применения
                            button.btn.btn-white Читать далее
                    .news-item
                        .news-item__img
                            img(src="static/images/content/news-img-3.png" alt="Пластинчатые теплообменники в пивоварении")
                        .news-item__info
                            .news-item__date 04.08.2021
                            a(href="one-news.html").news-item__name Закрытая и открытая системы отопления: плюсы и минусы
                            button.btn.btn-white Читать далее
                    .news-item
                        .news-item__img
                            img(src="static/images/content/news-img-4.png" alt="Пластинчатые теплообменники в пивоварении")
                        .news-item__info
                            .news-item__date 11.08.2021
                            a(href="one-news.html").news-item__name Надежный разборный пластинчатый теплообменник по оптимальной цене
                            button.btn.btn-white Читать далее

