extends layout/main

block variables
    -var title = 'Теплообменник Ридан НН 22 ДУ 100'

block content
    section.pto.section-margin
        .container
            h2.section-title Теплообменник Ридан НН 22 ДУ 100
            ul.breadcrumbs
                include modules/breadcrumbs/breadcrumbs
                +breadcrumbs-item('Главная','index.html')
                +breadcrumbs-item('Каталог','#')
                +breadcrumbs-item('Теплообменник Ридан НН 22 ДУ 100')