extends layout/main

block variables
    -var title = 'Пластинчатые теплообменники'

block content
    section.pto.section-margin
        .container
            h2.section-title Пластинчатые теплообменники
            ul.breadcrumbs
                include modules/breadcrumbs/breadcrumbs
                +breadcrumbs-item('Главная','index.html')
                +breadcrumbs-item('Каталог','#')
                +breadcrumbs-item('Пластинчатые теплообменники')
            .pto-links
                a(href="#").section-link Теплообменник пластинчатый разборный
                a(href="#").section-link Теплообменник пластинчатый разборный 100 квт
                a(href="#").section-link Теплообменник пластинчатый разборный расчёт
                a(href="#").section-link Теплообменник пластинчатый разборный гвс
                a(href="#").section-link Теплообменник пластинчатый разборный для системы отопления
            .section-items
                include modules/sidebar/sidebar
                .pto-items
                    .pto-items__filter
                        .select
                            .select__header
                                span.select__current Сначала дешевле
                                img(src="static/images/common/akordeon-arrow.png" alt="#")
                            .select__body
                                .select__item По рейтингу
                                .select__item Сначала дороже
                                .select__item Сначала дешевле
                        a(href="#").download-link Скачать прайс-лист
                    .pto-items__wrap
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                        .product-item
                            .product-item__img
                                img(src="static/images/content/product-img.png" alt="Пластина для теплообменника")
                            a(href="#").product-item__name Пластина для теплообменника hh 320-203
                            .product-item__char
                                p.product-item__char-du Ду, мм:
                                    span 50
                                p.product-item__char-press Макс. P, бар:
                                    span 25
                                p.product-item__char-connect Присоединение:
                                    span Фланцевое
                                p.product-item__char-use Назначение:
                                    span Нагрев-подогрев воды
                            p.product-item__price 19 497
                            .product-item__action
                                button.btn Добавить в корзину
                    include modules/pagination/pagination




