@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Jost', '../fonts/Jost/Jost-Regular/Jost-Regular', 400, 'normal');
@include font-face('Jost-SemiBold', '../fonts/Jost/Jost-SemiBold/Jost-SemiBold', 600, 'normal');
