// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-right-circle-1-name: 'icon-arrow-right-circle 1';
$icon-arrow-right-circle-1-x: 64px;
$icon-arrow-right-circle-1-y: 66px;
$icon-arrow-right-circle-1-offset-x: -64px;
$icon-arrow-right-circle-1-offset-y: -66px;
$icon-arrow-right-circle-1-width: 16px;
$icon-arrow-right-circle-1-height: 16px;
$icon-arrow-right-circle-1-total-width: 119px;
$icon-arrow-right-circle-1-total-height: 101px;
$icon-arrow-right-circle-1-image: '../images/sprite/sprite.png';
$icon-arrow-right-circle-1: (64px, 66px, -64px, -66px, 16px, 16px, 119px, 101px, '../images/sprite/sprite.png', 'icon-arrow-right-circle 1', );
$icon-arrow-right-circle-2-name: 'icon-arrow-right-circle 2';
$icon-arrow-right-circle-2-x: 0px;
$icon-arrow-right-circle-2-y: 66px;
$icon-arrow-right-circle-2-offset-x: 0px;
$icon-arrow-right-circle-2-offset-y: -66px;
$icon-arrow-right-circle-2-width: 17px;
$icon-arrow-right-circle-2-height: 17px;
$icon-arrow-right-circle-2-total-width: 119px;
$icon-arrow-right-circle-2-total-height: 101px;
$icon-arrow-right-circle-2-image: '../images/sprite/sprite.png';
$icon-arrow-right-circle-2: (0px, 66px, 0px, -66px, 17px, 17px, 119px, 101px, '../images/sprite/sprite.png', 'icon-arrow-right-circle 2', );
$icon-arrow-down-name: 'icon-arrowDown';
$icon-arrow-down-x: 103px;
$icon-arrow-down-y: 72px;
$icon-arrow-down-offset-x: -103px;
$icon-arrow-down-offset-y: -72px;
$icon-arrow-down-width: 8px;
$icon-arrow-down-height: 5px;
$icon-arrow-down-total-width: 119px;
$icon-arrow-down-total-height: 101px;
$icon-arrow-down-image: '../images/sprite/sprite.png';
$icon-arrow-down: (103px, 72px, -103px, -72px, 8px, 5px, 119px, 101px, '../images/sprite/sprite.png', 'icon-arrowDown', );
$icon-calender-name: 'icon-calender';
$icon-calender-x: 103px;
$icon-calender-y: 21px;
$icon-calender-offset-x: -103px;
$icon-calender-offset-y: -21px;
$icon-calender-width: 14px;
$icon-calender-height: 14px;
$icon-calender-total-width: 119px;
$icon-calender-total-height: 101px;
$icon-calender-image: '../images/sprite/sprite.png';
$icon-calender: (103px, 21px, -103px, -21px, 14px, 14px, 119px, 101px, '../images/sprite/sprite.png', 'icon-calender', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 0px;
$icon-cart-y: 0px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 36px;
$icon-cart-height: 36px;
$icon-cart-total-width: 119px;
$icon-cart-total-height: 101px;
$icon-cart-image: '../images/sprite/sprite.png';
$icon-cart: (0px, 0px, 0px, 0px, 36px, 36px, 119px, 101px, '../images/sprite/sprite.png', 'icon-cart', );
$icon-check-name: 'icon-check';
$icon-check-x: 0px;
$icon-check-y: 88px;
$icon-check-offset-x: 0px;
$icon-check-offset-y: -88px;
$icon-check-width: 17px;
$icon-check-height: 13px;
$icon-check-total-width: 119px;
$icon-check-total-height: 101px;
$icon-check-image: '../images/sprite/sprite.png';
$icon-check: (0px, 88px, 0px, -88px, 17px, 13px, 119px, 101px, '../images/sprite/sprite.png', 'icon-check', );
$icon-close-btn-name: 'icon-close-btn';
$icon-close-btn-x: 103px;
$icon-close-btn-y: 0px;
$icon-close-btn-offset-x: -103px;
$icon-close-btn-offset-y: 0px;
$icon-close-btn-width: 16px;
$icon-close-btn-height: 16px;
$icon-close-btn-total-width: 119px;
$icon-close-btn-total-height: 101px;
$icon-close-btn-image: '../images/sprite/sprite.png';
$icon-close-btn: (103px, 0px, -103px, 0px, 16px, 16px, 119px, 101px, '../images/sprite/sprite.png', 'icon-close-btn', );
$icon-download-name: 'icon-download';
$icon-download-x: 22px;
$icon-download-y: 66px;
$icon-download-offset-x: -22px;
$icon-download-offset-y: -66px;
$icon-download-width: 16px;
$icon-download-height: 17px;
$icon-download-total-width: 119px;
$icon-download-total-height: 101px;
$icon-download-image: '../images/sprite/sprite.png';
$icon-download: (22px, 66px, -22px, -66px, 16px, 17px, 119px, 101px, '../images/sprite/sprite.png', 'icon-download', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 0px;
$icon-mail-y: 41px;
$icon-mail-offset-x: 0px;
$icon-mail-offset-y: -41px;
$icon-mail-width: 20px;
$icon-mail-height: 20px;
$icon-mail-total-width: 119px;
$icon-mail-total-height: 101px;
$icon-mail-image: '../images/sprite/sprite.png';
$icon-mail: (0px, 41px, 0px, -41px, 20px, 20px, 119px, 101px, '../images/sprite/sprite.png', 'icon-mail', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 25px;
$icon-marker-y: 41px;
$icon-marker-offset-x: -25px;
$icon-marker-offset-y: -41px;
$icon-marker-width: 20px;
$icon-marker-height: 20px;
$icon-marker-total-width: 119px;
$icon-marker-total-height: 101px;
$icon-marker-image: '../images/sprite/sprite.png';
$icon-marker: (25px, 41px, -25px, -41px, 20px, 20px, 119px, 101px, '../images/sprite/sprite.png', 'icon-marker', );
$icon-menu-name: 'icon-menu';
$icon-menu-x: 43px;
$icon-menu-y: 66px;
$icon-menu-offset-x: -43px;
$icon-menu-offset-y: -66px;
$icon-menu-width: 16px;
$icon-menu-height: 17px;
$icon-menu-total-width: 119px;
$icon-menu-total-height: 101px;
$icon-menu-image: '../images/sprite/sprite.png';
$icon-menu: (43px, 66px, -43px, -66px, 16px, 17px, 119px, 101px, '../images/sprite/sprite.png', 'icon-menu', );
$icon-mobile-menu-name: 'icon-mobile-menu';
$icon-mobile-menu-x: 78px;
$icon-mobile-menu-y: 0px;
$icon-mobile-menu-offset-x: -78px;
$icon-mobile-menu-offset-y: 0px;
$icon-mobile-menu-width: 20px;
$icon-mobile-menu-height: 18px;
$icon-mobile-menu-total-width: 119px;
$icon-mobile-menu-total-height: 101px;
$icon-mobile-menu-image: '../images/sprite/sprite.png';
$icon-mobile-menu: (78px, 0px, -78px, 0px, 20px, 18px, 119px, 101px, '../images/sprite/sprite.png', 'icon-mobile-menu', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 50px;
$icon-phone-y: 41px;
$icon-phone-offset-x: -50px;
$icon-phone-offset-y: -41px;
$icon-phone-width: 20px;
$icon-phone-height: 20px;
$icon-phone-total-width: 119px;
$icon-phone-total-height: 101px;
$icon-phone-image: '../images/sprite/sprite.png';
$icon-phone: (50px, 41px, -50px, -41px, 20px, 20px, 119px, 101px, '../images/sprite/sprite.png', 'icon-phone', );
$icon-ruble-big-name: 'icon-ruble-big';
$icon-ruble-big-x: 103px;
$icon-ruble-big-y: 40px;
$icon-ruble-big-offset-x: -103px;
$icon-ruble-big-offset-y: -40px;
$icon-ruble-big-width: 10px;
$icon-ruble-big-height: 12px;
$icon-ruble-big-total-width: 119px;
$icon-ruble-big-total-height: 101px;
$icon-ruble-big-image: '../images/sprite/sprite.png';
$icon-ruble-big: (103px, 40px, -103px, -40px, 10px, 12px, 119px, 101px, '../images/sprite/sprite.png', 'icon-ruble-big', );
$icon-ruble-name: 'icon-ruble';
$icon-ruble-x: 103px;
$icon-ruble-y: 57px;
$icon-ruble-offset-x: -103px;
$icon-ruble-offset-y: -57px;
$icon-ruble-width: 8px;
$icon-ruble-height: 10px;
$icon-ruble-total-width: 119px;
$icon-ruble-total-height: 101px;
$icon-ruble-image: '../images/sprite/sprite.png';
$icon-ruble: (103px, 57px, -103px, -57px, 8px, 10px, 119px, 101px, '../images/sprite/sprite.png', 'icon-ruble', );
$icon-search-name: 'icon-search';
$icon-search-x: 41px;
$icon-search-y: 0px;
$icon-search-offset-x: -41px;
$icon-search-offset-y: 0px;
$icon-search-width: 32px;
$icon-search-height: 32px;
$icon-search-total-width: 119px;
$icon-search-total-height: 101px;
$icon-search-image: '../images/sprite/sprite.png';
$icon-search: (41px, 0px, -41px, 0px, 32px, 32px, 119px, 101px, '../images/sprite/sprite.png', 'icon-search', );
$icon-stats-name: 'icon-stats';
$icon-stats-x: 78px;
$icon-stats-y: 23px;
$icon-stats-offset-x: -78px;
$icon-stats-offset-y: -23px;
$icon-stats-width: 16px;
$icon-stats-height: 22px;
$icon-stats-total-width: 119px;
$icon-stats-total-height: 101px;
$icon-stats-image: '../images/sprite/sprite.png';
$icon-stats: (78px, 23px, -78px, -23px, 16px, 22px, 119px, 101px, '../images/sprite/sprite.png', 'icon-stats', );
$spritesheet-width: 119px;
$spritesheet-height: 101px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($icon-arrow-right-circle-1, $icon-arrow-right-circle-2, $icon-arrow-down, $icon-calender, $icon-cart, $icon-check, $icon-close-btn, $icon-download, $icon-mail, $icon-marker, $icon-menu, $icon-mobile-menu, $icon-phone, $icon-ruble-big, $icon-ruble, $icon-search, $icon-stats, );
$spritesheet: (119px, 101px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
