.news {
  .pagination {
    padding: 0;
  }
}

.news-item {
  display: flex;
  justify-content: space-between;
  margin: 37px 0 74px;
  &__img {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__info {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name {
    font-size: 26px;
    font-family: $mediumFont;
    line-height: 34px;
    color: #303841;
  }
  &__date {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    font-family: $lightFont;
    color: #ADADAD;
    &:before {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      transform: translateY(-45%);
      @include sprite($icon-calender);
    }
  }
  &__descr {
    font-size: 14px;
  }
  .btn {
    height: 40px;
    line-height: 36px;
    font-family: $mediumFont;
  }
}

.one-news {
  .news-item {
    flex-direction: column;
    &__name {
      font-size: 26px;
      font-family: $mediumFont;
    }
    &__title {
      font-size: 18px;
      font-family: $mediumFont;
    }
    &__date {
      margin-top: 23px;
    }
    &__img {
      width: 100%;
      margin: 27px 0;
    }
    &__descr {
      margin: 15px 0;
    }
  }
  .text-list {
    margin: 12px 0;
  }
}

.all-news {
  display: flex;
  flex-direction: column;
  .news-items {
    display: flex;
    justify-content: space-between;
  }
  .news-item {
    flex-direction: column;
    width: 30%;
    margin: 0;
    &__info {
      width: 100%;
    }
    &__img {
      width: 100%;
      margin-bottom: 0;
    }
    &__name {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 21px;
    }
    &__date {
      margin: 15px 0 10px;
    }
  }
}