footer.footer
    .container
        .footer-content
            .footer-top
                .footer-block
                    a(href="index.html").logo
                        img(src="static/images/common/logo.png" alt="Heatinvest")
                    .user-info
                        a(href="tel:88005557583").phone.phone-free 8 (800) 555-75-83
                        a(href="tel:84997059196").phone 8 (499) 705-91-96
                        p.manager manager22@heatinvest.com
                    a(href="#callback").btn.popup Обратный звонок
                .footer-block
                    h4.footer-block__title Меню
                    .footer-block__list
                        li
                            a(href="#") Каталог
                        li
                            a(href="#") Расчёт стоимости
                        li
                            a(href="#") Подбор
                        li
                            a(href="#") Доставка и оплата
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Контакты
                .footer-block
                    h4.footer-block__title Каталог
                    .footer-block__list
                        li
                            a(href="#") Пластинчатые теплообменники
                        li
                            a(href="#") Паяные теплообменники
                        li
                            a(href="#") Спиральные теплообменники
                        li
                            a(href="#") Сварные теплообменники
                        li
                            a(href="#") Полусварные теплообменники
                        li
                            a(href="#") Кожухотрубные теплообменники
                        li
                            a(href="#") Пластины для теплообмеников
                        li
                            a(href="#") Уплотнения для теплообменников
                .footer-block
                    h4.footer-block__title Производители
                    .footer-block__list
                        li
                            a(href="#") Ридан
                        li
                            a(href="#") Alfa Laval
                        li
                            a(href="#") Danfoss
                        li
                            a(href="#") Phoenix
                        li
                            a(href="#") Kaori
            .footer-bottom
                span.copyright Copyright Heatinvest 2021 | All Rights Reserved